<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://www.example.com">Example Inc.</a>
            by <a href="http://www.brettclark.com">Brett Clark</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>